name: Test

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: "read"

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: "./go.mod"
          cache: true
          cache-dependency-path: |
            go.sum

      - run: go version

      - name: Go generate
        run: |-
            curl -L https://github.com/vektra/mockery/releases/download/v2.46.1/mockery_2.46.1_Linux_x86_64.tar.gz -o mockery.tar.gz && \
            tar xvzf mockery.tar.gz mockery && \
            rm mockery.tar.gz && \
            mv mockery /usr/local/bin
            go generate ./...

      - name: Test
        run: go test -v -race ./...
