name: Test

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: "read"

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "./go.mod"
          cache: true
          cache-dependency-path: |
            go.sum

      - run: go version

      - name: Go generate
        run: |-
            curl -L https://github.com/vektra/mockery/releases/download/v2.46.1/mockery_2.46.1_Linux_x86_64.tar.gz -o mockery.tar.gz && \
            tar xvzf mockery.tar.gz mockery && \
            rm mockery.tar.gz && \
            mv mockery /usr/local/bin
            go generate ./...

      - name: Test
        run: go test -v -race ./...
